<section class="services text-center" *ngIf="language==='arb'">
  <div class="container">
    <h1>خدماتنا</h1>
    <p>
      سيشغل عملك جزءا كبيرا من حياتك والطريقة الوحيدة لتحقيق الرضى الحقيقي هو
      القيام بما تؤمن به انه عمل رائع. وأفضل طريقة لتقوم
    </p>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="single-service">
          <div class="service-icon">
            <img src="../../../assets/services/craftsman.png" alt="" />
          </div>
          <div class="service-text">
            <h5>حرفيين</h5>
            <p>
              سيشغل عملك جزءا كبيرا من حياتك والطريقة الوحيدة لتحقيق الرضى
              الحقيقي
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single-service">
          <div class="service-icon">
            <img src="../../../assets/services/medical.png" alt="" />
          </div>
          <div class="service-text">
            <h5>الطب</h5>
            <p>
              سيشغل عملك جزءا كبيرا من حياتك والطريقة الوحيدة لتحقيق الرضى
              الحقيقي
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single-service">
          <div class="service-icon">
            <img src="../../../assets/services/finance.png" alt="" />
          </div>
          <div class="service-text">
            <h5>المحاسبات</h5>
            <p>
              سيشغل عملك جزءا كبيرا من حياتك والطريقة الوحيدة لتحقيق الرضى
              الحقيقي
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single-service">
          <div class="service-icon">
            <img src="../../../assets/services/cspng.png" alt="" />
          </div>
          <div class="service-text">
            <h5>تكنلوجيا المعلومات</h5>
            <p>
              سيشغل عملك جزءا كبيرا من حياتك والطريقة الوحيدة لتحقيق الرضى
              الحقيقي
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--#####################################################################-->
<!--#####################################################################-->
<!--#####################################################################-->
<!--#####################################################################-->

<section class="services engVersion" style="text-align: center !important;" *ngIf="language==='eng'">
  <div class="container">
    <h1>our service</h1>
    <p>
     Your work will occupy a large part of your life and the only way to achieve satisfaction.The real thing is doing what you believe is great work
    </p>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="single-service">
          <div class="service-icon">
            <img src="../../../assets/services/craftsman.png" alt="" />
          </div>
          <div class="service-text">
            <h5>workers</h5>
            <p>
              Your work will occupy a large part of your life and the only way to achieve satisfaction
              Real
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single-service">
          <div class="service-icon">
            <img src="../../../assets/services/medical.png" alt="" />
          </div>
          <div class="service-text">
            <h5>medical</h5>
            <p>
              Your work will occupy a large part of your life and the only way to achieve satisfaction
              Real
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single-service">
          <div class="service-icon">
            <img src="../../../assets/services/finance.png" alt="" />
          </div>
          <div class="service-text">
            <h5>accounts</h5>
            <p>
            Your work will occupy a large part of your life and the only way to achieve satisfaction
              Real
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single-service">
          <div class="service-icon">
            <img src="../../../assets/services/cspng.png" alt="" />
          </div>
          <div class="service-text">
            <h5>IT</h5>
            <p>
              Your work will occupy a large part of your life and the only way to achieve satisfaction
              Real
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
