<section class="subscribe text-center" *ngIf="language==='arb'">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-5">
        <div class="sub-content-container text-right">
          <h1>متابعتنا</h1>
          <p>
            احصل أسبوعيًا على أهم الوظائف الجديدة التي يتم تسليمها إلى بريدك
            الوارد
          </p>
          <form>
            <div style="width: 70%">
              <i class="fa fa-envelope"></i>
              <input type="email" placeholder="البريد الاكتروني" />
            </div>
            <div style="width: 30%">
              <button class="btn">
                متابعه
                <i class="fa fa-angle-double-left"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <img src="../../../assets/subscribe/keep-in-touch.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
<!--###################################################3-->
<!--###################################################3-->
<!--###################################################3-->

<section class="subscribe text-center engVersion" *ngIf="language==='eng'">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-5">
        <div class="sub-content-container text-left">
          <h1>follow us</h1>
          <p>
           fllow us to get our leatest news !
          </p>
          <form>
            <div style="width: 70%" style="float: left; direction: ltr;">
              <i class="fa fa-envelope" style="left: 10px !important ; right:0px !important;width: 10px;"></i>
              <input type="email" placeholder="e-mail..." />
            </div>
            <div style="width: 30%">
              <button class="btn">
                subscribe
                <i class="fa fa-angle-double-right"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <img src="../../../assets/subscribe/keep-in-touch.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
