<section class="blogs" *ngIf="language==='arb'">
  <div class="container">
    <h1 class="text-center">لمساعدتك</h1>
    <p>
      سيشغل عملك جزءا كبيرا من حياتك والطريقة الوحيدة لتحقيق الرضى الحقيقي هو
      القيام بما تؤمن به انه عمل رائع. وأفضل طريقة لتقوم
    </p>
    <div class="row align-item-center justify-content-center">
      <div class="col-md-5">
        <div class="single-blog">
          <div class="blog-img">
            <img src="../../../assets/blogs/bg-1.jpg" alt="" />
          </div>
          <div class="blog-info">
            <ul>
              <li>
                <i class="fa fa-user"></i>
                محمود فادي
              </li>
              <li>
                <i class="fa fa-calendar"></i>
                1/1/2021
              </li>
            </ul>
          </div>
          <div class="blog-text">
            <h5>كيف تحصل على عمل سريعا</h5>
            <p>
              سيشغل عملك جزءا كبيرا من حياتك والطريقة الوحيدة لتحقيق الرضى
              الحقيقي هو القيام بما تؤمن به انه عمل رائع. وأفضل طريقة لتقوم بعمل
              رائع
            </p>
          </div>
          <div class="blog-button">
            <button>المزيد</button>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="single-blog">
          <div class="blog-img">
            <img src="../../../assets/blogs/bg-2.jpg" alt="" />
          </div>
          <div class="blog-info">
            <ul>
              <li>
                <i class="fa fa-user"></i>
                محمود فادي
              </li>
              <li>
                <i class="fa fa-calendar"></i>
                1/1/2021
              </li>
            </ul>
          </div>
          <div class="blog-text">
            <h5>كيف تكتسب زبأئن</h5>
            <p>
              سيشغل عملك جزءا كبيرا من حياتك والطريقة الوحيدة لتحقيق الرضى
              الحقيقي هو القيام بما تؤمن به انه عمل رائع. وأفضل طريقة لتقوم بعمل
              رائع
            </p>
          </div>
          <div class="blog-button">
            <button>المزيد</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--###################################################################################################-->
<!--###################################################################################################-->
<!--###################################################################################################-->
<!--###################################################################################################-->
<section class="blogs engVersion" *ngIf="language==='eng'">
  <div class="container">
    <h1 class="text-center">to get best experience</h1>
    <p>Your work occupies a large part of your life and the only way to achieve true satisfaction is to
      Doing what you believe is great work. And the best way to do</p>
    <div class="row align-item-center justify-content-center">
      <div class="col-md-5">
        <div class="single-blog">
          <div class="blog-img">
            <img src="../../../assets/blogs/bg-1.jpg" alt="" />
          </div>
          <div class="blog-info">
            <ul>
              <li>
                <i class="fa fa-user"></i>
                محمود فادي
              </li>
              <li>
                <i class="fa fa-calendar"></i>
                1/1/2021
              </li>
            </ul>
          </div>
          <div class="blog-text">
            <h5>how to get a job</h5>
            <p>Your work occupies a large part of your life and the only way to achieve true satisfaction is to
              Doing what you believe is great work.
            </p>
          </div>
          <div class="blog-button">
            <button>more</button>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="single-blog">
          <div class="blog-img">
            <img src="../../../assets/blogs/bg-2.jpg" alt="" />
          </div>
          <div class="blog-info">
            <ul>
              <li>
                <i class="fa fa-user"></i>
                محمود فادي
              </li>
              <li>
                <i class="fa fa-calendar"></i>
                1/1/2021
              </li>
            </ul>
          </div>
          <div class="blog-text">
            <h5>how to get customers</h5>
            <p>
              Your work occupies a large part of your life and the only way to achieve true satisfaction is to
               Doing what you believe is great work.
            </p>
          </div>
          <div class="blog-button">
            <button>more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
