<div *ngIf="loading" style="margin-top: 50px" class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <app-loading class="text-center"></app-loading>
    </div>
  </div>
</div>
<div style="margin-top: 50px" class="container" *ngIf="!loading && err">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <app-alert-danger
        class="alert-danger-message"
        [errorMessage]="err"
      ></app-alert-danger>
    </div>
  </div>
</div>
<section
  *ngIf="!loading && !err"
  [ngStyle]="{ direction: language === 'eng' ? 'ltr' : 'rtl' }"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 userData">
        <app-profile-data [userData]="userData"></app-profile-data>
      </div>
      <div class="col-sm-6 userPosts" *ngIf="!isAdminSaved">
        <app-posts-list class="userPosts" [posts]="userPosts"></app-posts-list>
        <div class="noPosts" *ngIf="userPosts.length === 0">
          <h6 *ngIf="language === 'arb'">
            يمكنك النشر عن مهنتك يا <strong>{{ userData.userName }}</strong>
          </h6>
          <h6 *ngIf="language === 'eng'">
            you can create job for you <strong>{{ userData.userName }}</strong>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="userReviews" *ngIf="userReviews.length > 0 && !isAdminSaved">
  <div class="container">
    <h6 class="text-center" style="margin-top: 20px" *ngIf="language === 'arb'">
      ماذا قالو عنك يا<strong style="color: #328bda">
        {{ userData.userName }}</strong
      >
    </h6>
    <h6
      class="text-center"
      style="margin-top: 20px"
      *ngIf="language === 'eng'"
      style="direction: ltr"
    >
      review about you
      <strong style="color: #328bda"> {{ userData.userName }}</strong>
    </h6>
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <app-testimonial-list
          [testimonials]="userReviews"
        ></app-testimonial-list>
      </div>
    </div>
  </div>
</section>
